@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #111;
}

main {
  overflow: hidden;
  position: relative;
}
main .header {
  z-index: 10000;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 25px;
  width: 100%;
}
main .header .logo {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
main .header .toggle {
  width: 40px;
}
main .header .toggle img {
  width: 100%;
}
main .banner {
  position: relative;
  width: 100vw;
  height: 100vh;
}
main .banner::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #111, transparent);
}
main .banner .fitBg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .banner .content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10000;
  padding: 25px;
}
main .banner .content h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 5em;
  color: white;
  letter-spacing: 1px;
}
main .banner .content p {
  width: 50%;
  font-size: 1.5em;
  color: white;
  text-align: center;
}
main .about {
  display: flex;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
main .about .contentBx {
  min-width: 50%;
  width: 50%;
  text-align: end;
  padding-right: 40px;
  padding: 0px 20px;
}
main .about .ImgBx {
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
}
main .about .ImgBx img {
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .banner2 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
main .banner2::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 10000;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, #111, transparent);
}
main .banner2::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, #111, transparent);
}
main .banner2 .fitBg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .destination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
main .destination .content {
  text-align: center;
}
main .destination .destinationList {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  transition: 0.5s;
}
main .destination .destinationList:hover .box {
  opacity: 0.1;
}
main .destination .destinationList .box {
  transition: 0.5s;
  position: relative;
  background: #191919;
  border-radius: 30px;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main .destination .destinationList .box:hover {
  transform: scale(1.1);
  opacity: 1;
}
main .destination .destinationList .box .imgBx {
  height: 500px;
  width: 400px;
  position: relative;
}
main .destination .destinationList .box .imgBx .fitBg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}
main .destination .destinationList .box .content {
  padding: 15px;
}
main .destination .destinationList .box .content h3 {
  color: white;
  font-size: 1.2em;
  font-weight: 500;
}
main .destination .destinationList .box .content h3 span {
  font-size: 0.8em;
  color: gray;
}
main .banner3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .banner3 .titulo {
  display: inline-block;
  position: absolute;
  top: 50px;
  background-image: linear-gradient(135deg, white, #6FB084);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 3em;
  z-index: 100000;
  box-shadow: inset 0 15px 25px rgba(0, 0, 0, 0.4), -5px 15px 25px rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 5px 15px;
}
main .banner3 .tabcontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
  top: 50px;
  gap: 20px;
}
main .banner3 .tabcontainer .tab {
  z-index: 1000000;
  box-shadow: 0 10px 25px rgba(225, 225, 225, 0.1);
  padding: 20px 0;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  min-height: 100%;
  min-width: 100%;
}
main .banner3 .tabcontainer .tab:hover label::after {
  color: #333;
  font-size: 2em;
}
main .banner3 .tabcontainer .tab input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .banner3 .tabcontainer .tab input:checked ~ label::after {
  transform: rotate(135deg);
  font-size: 2.5em;
  color: #333;
}
main .banner3 .tabcontainer .tab input:checked ~ label h2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  min-width: 100%;
  height: 100%;
  font-size: 8em;
  left: 0;
  padding: 60px;
  color: rgba(0, 0, 0, 0.05);
}
main .banner3 .tabcontainer .tab input:checked ~ label h3 {
  background: white;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}
main .banner3 .tabcontainer .tab input:checked ~ .content {
  max-height: 100vh;
  padding: 25px;
}
main .banner3 .tabcontainer .tab input:checked ~ .content p {
  opacity: 1;
  color: white;
  font-size: 1.15em;
  letter-spacing: 1.5px;
}
main .banner3 .tabcontainer .tab label {
  display: flex;
  align-items: center;
  padding: 0 20px 20px;
  margin: 0px;
}
main .banner3 .tabcontainer .tab label::after {
  transition: tranform 1s;
  transition: 0.5s;
  content: "+";
  position: absolute;
  right: 20px;
  color: white;
  font-size: 1.5em;
}
main .banner3 .tabcontainer .tab label h2 {
  margin-right: 10px;
  color: white;
  justify-content: center;
  display: flex;
}
main .banner3 .tabcontainer .tab label h3 {
  background-image: linear-gradient(to left, #6FB084, white);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}
main .banner3 .tabcontainer .tab .content {
  transition: 1s;
  max-height: 0px;
  overflow: hidden;
}
main .banner3 .tabcontainer .tab .content p {
  transition: 1s;
  opacity: 0;
}
main .banner3::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 10000;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, #111, transparent);
}
main .banner3::after {
  z-index: 0;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, #111, transparent);
}
main .banner3 .fitBg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main footer .sci {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}
main footer .sci li {
  list-style: none;
}
main footer .sci li a {
  filter: invert(1);
  width: 100px;
  height: 100px;
}
main footer .sci li a img {
  height: 40px;
  width: 40px;
}
main footer .copyright {
  color: gray;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 1px;
}
main footer .copyright a {
  text-decoration: none;
  color: white;
}

.titleText {
  font-size: 2em;
  color: white;
}

.text {
  color: white;
}

a.btn {
  display: inline-block;
  background: white;
  padding: 10px 20px;
  font-size: 1.3em;
  text-decoration: none;
  color: #111;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px rgb(21, 20, 20);
}

::-webkit-scrollbar-thumb {
  background: #537A2D;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */