@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background: radial-gradient(#f47c2b, #f47c2a);
  font-weight: 300;
  color: white;
}
body .container {
  width: 280px;
  height: 480px;
  position: relative;
  perspective: 800px;
}
body .container .card {
  width: 320px;
  height: 450px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
body .container .card > div {
  position: absolute;
  width: 320px;
  height: 450px;
  padding: 34px 21px;
  transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
body .container .card .front {
  transform: rotateY(0deg) translateZ(160px);
  background-image: linear-gradient(180deg, rgb(17, 17, 17) 0%, rgba(92, 91, 94, 0) 100%);
  border-radius: 34px 3px 0 0;
}
body .container .card .front .price {
  position: absolute;
  bottom: 30px;
  font-size: 2.6em;
  opacity: 0.6;
}
body .container .card .right {
  transform: rotateY(90deg) translateZ(160px);
  background-image: linear-gradient(0deg, rgb(17, 17, 17) 0%, rgba(92, 91, 94, 0) 100%);
  opacity: 0.08;
  border-radius: 0 0 34px 3px;
}
body .container .card .right ul li {
  list-style: none;
  margin-top: 10px;
  position: relative;
}
body .container .card .right ul li::before {
  content: "x";
  position: absolute;
  left: -15px;
  opacity: 0.8;
  font-style: italic;
}
body .container .card .right button {
  border: none;
  position: absolute;
  right: 20px;
  bottom: 40px;
  letter-spacing: -0.25px;
  padding: 12px 13px;
  border-radius: 30px 15px 30px 15px;
  font-size: 1.1em;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(225, 225, 225, 0.3);
}
body .container .card:hover {
  transform: translateZ(-160px) rotateY(-90deg);
}
body .container .card:hover ~ .imgcontainer img {
  transform: scale(0.9) translateX(77%) translateY(100%) rotateZ(80deg);
}
body .container .card:hover .front {
  opacity: 0;
}
body .container .card:hover .right {
  opacity: 1;
}
body .container .imgcontainer {
  animation: flotar 4s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
body .container .imgcontainer img {
  transform-origin: top right;
  transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 100ms;
  transform: translateX(42%) rotateZ(13deg) skewX(3deg);
  width: 100%;
  pointer-events: none;
}

@keyframes flotar {
  0% {
    transform: translateZ(20px);
  }
  100% {
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}/*# sourceMappingURL=styled.css.map */