*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to top , #252525, #A3363B 60%);
    padding: 100px 100px 0;
    header{
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px 100px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .logo {
            img {
                width: 150;
            max-width: 150px;
        }
        }
        .toggle{
            background: url('../img/menu.png');
            width: 30px;
            height: 30px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

        }
    }

    .content{
        position: relative;
        width: 100%;
        margin-top: 40px;
        padding-bottom: 40px;
        .imgbox{
            display: flex;
            position: relative;
            justify-content: center;
            // align-items: center;
            width: 100%;
            img{
                max-width: 100%;
                animation: animacionZapatilla 3.3s linear infinite;
            }

        }

        h1{
            text-transform: uppercase;
            color: #fff;
            font-size: 2.5em;
            font-weight: 700;
            letter-spacing: 1.5px;

        }

        p{
            color: #fff;
            font-size: 1.5em;
            margin-bottom: 15px ;

        }

        a{
            display: inline-block;
            margin-top: 15px;
            background: #fff;
            padding: 20px 30px;
            font-size: 1.5em;
            color: #252525;
            text-decoration: none;
            letter-spacing: 1.5px;
            border-radius: 5px;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
            &:hover{
                transform: scale(1.14);
                animation: detail 1s linear infinite;
                transition: 0.5s;
            }
        }
    }

    &::before{
        content: "Air Jordan";
        // width: 100vw;
        // height: 50vh;
        position: absolute;
        font-size: 20vh;
        font-weight: 900;
        text-align: center;
        padding-top: 20vh;
        color: #0009;
        // right: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

.sci{
    position: absolute;
    right: 50px;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        li{
            &:hover{
                transform: scale(1.5);
                transition: .5s;
            }
            list-style: none;
            a{
                color:white;
                font-size: 2em;
                margin: 5px;


            }
        }
    }

}


@keyframes animacionZapatilla{
    0%,100%{
        transform: translateY(-20px);
    }

    50%{
        transform: translateY(20px);
    }
}

@keyframes detail{
    0%,100%{
        transform: translateX(-10px);
    }

    50%{
        transform: translateX(10px);
    }
}

@media (max-width: 600px) {
    header {
      padding: 20px 40px;
    }
    section {
      padding: 40px 40px 0;
      overflow: hidden;
      &:before {
        font-size: 20vh;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .content {
      
      margin-top: 120px;
      .imgBx {
        margin-top: 65px;
      }
    }
    .sci {
      position: relative;
      justify-content: flex-start;
      flex-direction: row;
      bottom: 10px;
      right: inherit;
      margin-top: 40px;
      li {
        margin-right: 15px;
      }
    }
  }